
/* Universal */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.content {
	max-width: 940px;
	height: 100%;
	margin: auto;
}

/* End Universal */


/* Nav bar */
.nav-menu li {
	color: white;
	background-color: black;
	display: inline-block;
	height: 100%;
	line-height: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0 25px;
}

.nav-menu li a {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav {
	width: 100%;
	background-color: black;
	height: 50px;
}

.nav-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: black;
	height: 50px;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}

@media only screen and (max-width: 674px) {
	.nav-menu li.hidden-mobile-view {
		display: none;
   	}

	li.mnu-btn {
		display: inline-block;
	}

	.nav-menu li.mobile-view {
		display: block;
		float: none;
	}

	.nav-middle {
		width: 100%;
	}
}

@media only screen and (min-width: 674px) {
	.nav-menu li.hidden-mobile-view {
		display: inline-block; 
	}

	.nav-menu li.mobile-view {
		display: inline-block;
		float: none;
	}

	li.mnu-btn {
		display: none;
	}

	.nav-middle {
		width: 70%;
	}
}

.clearer {
	clear: both;
}

.nav-middle {
	margin: auto;
	line-height: 0;
	float: none;
}

/* End nav bar */