* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.content {
	max-width: 940px;
	height: 100%;
	margin: auto;
}

.nav-menu li a {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav {
	width: 100%;
	background-color: black;
}

.nav-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: black;
	height: 50px;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}

@media only screen and (max-width: 674px) {
	.nav-menu li.hidden-mobile-view {
		display: none;
   	}

	body {
		background-color: red;
	}

	li.mnu-btn {
		display: inline-block;
	}

	.nav-menu li.mobile-view {
		display: block;
		float: none;
	}
}

@media only screen and (min-width: 674px) {
	.nav-menu li.hidden-mobile-view {
		display: inline-block; 
	}

	.nav-menu li.mobile-view {
		display: inline-block;
	}

	li.mnu-btn {
		display: none;
	}
}

.nav-middle {
/*	height: 100%; */
}

.clearer {
	clear: both;
	display: block;
}